body {
    margin: 0;
}

button {
    background-color: #1d1d20;
    border: 1px solid #313136;
    color: white;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

p {
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
    color: white;
}

button:hover {
    background-color: #313136;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #1d1d20;
    align-items: center;

    height: 25px;
}

.menu-bar button {
    font-size: small;
    border: none;
    background-color: transparent;
}

.menu-bar button:hover {
    color:rgb(223, 223, 223);
}

.menu-content {
    display: none;  /* Hide the content by default */
    width: fit-content;
    background-color: #1d1d20;
    color: #ffffff;
    position: absolute;
    flex-direction: column;
}

.menu-content button {
    background-color: transparent;
    border: none;
    text-align: left;
    padding-right: 45px;
}

.menu-content button:hover {
    color:rgb(223, 223, 223);
}

.play-buttons {
    padding-left: 2px;
    padding-right: 2px;
    background-color: #232529;
    border-radius: 5px;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: 30px;
    position: fixed;
    top: 10px;
    right: 30px;
    border: 1px solid #313136;
}


.play-buttons button {
    background-color: transparent;
    border: none;
}

.menu-content hr {
    box-sizing: border-box;
    border: none;
    height: 1px;
    background-color: #313136;
    width: 80%;
    margin-left: 6px;
    margin-right: auto;
}

/* Toolbars */
.toolbar-vertical {
    display: flex;
    flex-direction: column;
    background-color: #232529;
    padding: 5px;
    align-items: center;
    justify-content: flex-start;
    border-right: 2px solid #313136;
    height: 100vh; /* Full height of the viewport */
    width: 50px;
    position: fixed;
    top: 25px; /* Place the toolbar just below the menu bar */
    left: 0;
}

.toolbar-vertical button {
    background-color: #1d1d20;
    border: 1px solid #313136;
    color: white;
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
    width: 100%;
}

.toolbar-vertical button:hover {
    background-color: #313136;
}

.toolbar-vertical .selected-button {
    border: 1px solid #7878b6;
}


/* Seperator */
.toolbar-vertical hr {
    box-sizing: border-box;
    border: none;
    height: 1px;
    background-color: #7878b6;
    width: 95%;
    margin-right: auto;
}

/* Action Bar */
.action-bar {
    display: flex;
    flex-direction: column;
    background-color: #232529;
    padding: 5px;
    align-items: stretch; /* Make children stretch to full width */
    justify-content: flex-start;
    border-left: 2px solid #313136;
    height: 100vh; /* Full height of the viewport */
    width: fit-content;
    position: fixed;
    top: 25px; /* Place just below the menu bar */
    right: 0;
}

/* Action Bar section titles */
.action-bar p {
    text-align: left;
    align-self: flex-start;
    margin-left: 5px;
    width: 100%;
    box-sizing: border-box;
}

.action-bar #selection-content {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.action-bar #selection-content .selected-button {
    border: 1px solid #7878b6;
}

.action-bar #gameobject-tree {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tree View */

#tree-container {
    background-color: #1b1d20;
    border: 1px solid #313136;
    padding: 10px;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    height: 200px;
    overflow-y: auto;
}

ul, #gameobjects-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#gameobjects-list li {
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
    color: white;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: rgb(45, 46, 54);
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
    margin-left: 25px;
}

.active {
    display: block;
}

