body {
    margin: 0;
    user-select: none;
}

input {
    color: var(--text-white);
    background-color: var(--bg-medium);
    border: 1px solid var(--button-border);
}

textarea {
    color: var(--text-white);
    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
}

/* General Button Styling */
button {
    background-color: var(--button-bg);
    border: var(--button-border-thickness) solid var(--button-border);
    color: var(--text-white);
    border-radius: var(--button-border-radius);
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.selected-button {
    border: var(--button-border-thickness) solid var(--accent);
}

p {
    font-family: var(--font-primary);
    color: var(--text-white);
}

/* Hover Effects */
button:hover {
    background-color: var(--bg-light);
}

/* Menu Bar Styling */
.menu-bar {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: var(--menu-bar-bg);
    align-items: center;
    height: 25px;
}

.menu-bar button {
    font-size: small;
    border: none;
    background-color: transparent;
    color: var(--menu-bar-text);
}

.menu-bar button:hover {
    color: var(--text-hover);
}

/* Menu Content */
.menu-content {
    display: none; /* Hide the content by default */
    width: fit-content;
    background-color: var(--bg-dark);
    color: var(--text-white);
    position: absolute;
    flex-direction: column;
}

.menu-content button {
    background-color: transparent;
    border: none;
    text-align: left;
    padding-right: 45px;
}

.menu-content button:hover {
    color: var(--text-hover);
}

.menu-content hr {
    box-sizing: border-box;
    border: none;
    height: 1px;
    background-color: var(--bg-light);
    width: 80%;
    margin-left: 6px;
    margin-right: auto;
}

/* Play Buttons */
.play-buttons {
    padding-left: 2px;
    padding-right: 2px;
    background-color: var(--bg-medium);
    border-radius: 5px;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: 30px;
    position: fixed;
    top: 10px;
    right: 9px;
    border-left: 1px solid var(--bg-light);
    border-top: 1px solid var(--bg-light);
    border-right: 1px solid var(--bg-light);
}

.play-buttons button {
    background-color: transparent;
    border: none;
}

/* Toolbars */
.toolbar-vertical {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-medium);
    align-items: center;
    justify-content: flex-start;
    border-right: 2px solid var(--bg-light);
    height: 100vh;
    width: 54px;
    position: fixed;
    top: 25px;
    left: 0;
}

.toolbar-vertical button {
    background-color: var(--bg-dark);
    border: var(--button-border-thickness) solid var(--bg-light);
    color: var(--text-white);
    font-size: 14px;
    margin: 2px 0;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 40px;
}

.toolbar-vertical button:hover {
    background-color: var(--bg-light);
}

.toolbar-vertical button img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: none;
}

.toolbar-vertical .selected-button {
    border: 1px solid var(--accent);
}

.toolbar-vertical hr {
    box-sizing: border-box;
    border: none;
    height: 1px;
    background-color: var(--separator);
    width: 90%;
    margin-right: auto;
}

/* Action Bar */
.action-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-medium);
    padding: 5px;
    align-items: stretch;
    justify-content: flex-start;
    border-left: 2px solid var(--bg-light);
    height: 100vh;
    width: fit-content;
    position: fixed;
    top: 25px;
    right: 0;
}

.action-bar p {
    text-align: left;
    align-self: flex-start;
    margin-left: 5px;
    width: 100%;
    box-sizing: border-box;
}

.action-bar button {
    width: 100%;
}

.action-bar #selection-content {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}