/* HTML Independent Theme */


:root {
    /* Color Variables */
    --bg-dark: #1d1d20;
    --bg-medium: #232529;
    --bg-light: #313136;
    --accent: #7878b6;
    --separator: #7878b6;
    --text-white: #ffffff;
    --text-hover: rgb(223, 223, 223);
    --highlight-hover: rgb(199, 199, 199);
    --button-border: #313136;
    --button-bg: #1d1d20;

    /* Button Visuals */
    --button-border-thickness: 1px;
    --button-border-radius: 0px;

    /* Text Visuals */
    --font-primary: 'Segoe UI', Tahoma, Arial, sans-serif;
}
