/* HTML Independent Theme */

/* Color Variables */
:root {
    --bg-dark: #1d1d20;
    --bg-medium: #232529;
    --bg-light: #313136;
    --text-white: #ffffff;
    --text-hover: rgb(223, 223, 223);
    --highlight-accent: #7878b6;
    --highlight-hover: rgb(199, 199, 199);
    --tree-bg: #1b1d20;
    --tree-border: #313136;
    --button-border: #313136;
    --button-bg: #1d1d20;
}
