/* HTML Independent Theme */

:root {
    /* Color Variables */
    --bg-dark: #181818;
    --bg-medium: #222222;
    --bg-light: #222222;
    --accent: #0091ff;
    --separator: #234568;
    --text-white: #aaaaaa;
    --text-hover: rgb(201, 201, 201);
    --highlight-hover: rgb(199, 199, 199);
    --button-border: #343434;
    --button-bg: #1f1f1f;

    /* Button Visuals */
    --button-border-thickness: 1px;
    --button-border-radius: 0px;

    /* Text Visuals */
    --font-primary: 'Segoe UI', Tahoma, Arial, sans-serif;
}
