/* HTML Independent Theme */

@font-face {
    font-family: 'Terminus';
    src: url('file:///themes/fonts/TerminusTTF-4.49.3.ttf') format('truetype');
}

@font-face {
    font-family: 'Terminus';
    src: url('file:///themes/fonts/TerminusTTF-Bold-4.49.3.ttf') format('truetype');
    font-weight: bold; /* Ensure this font is used for bold text */
}
:root {
    /* Color Variables */
    --menu-bar-bg: rgb(219, 219, 219);
    --menu-bar-text: rgb(163, 163, 163);

    --bg-dark: #2d2d2d;
    --bg-medium: #646464;
    --bg-light: #a8a8a8;
    --accent: #323232;
    --separator: #323232;
    --text-white: #ffffff;
    --text-hover: rgb(223, 223, 223);
    --highlight-hover: rgb(199, 199, 199);
    --button-border: #adadad;
    --button-bg: #646464;

    /* Button Visuals */
    --button-border-thickness: 1px;
    --button-border-radius: 0px;

    /* Text Visuals */
    --font-primary: 'Terminus', sans-serif;
}

vista-panel {
    background-color: var(--bg-medium);
    border-radius: 5px;
    font-family: var(--font-primary); /* Apply the primary font */
    padding: 10px;
}

p {
    color: var(--text-white);
    font-size: 11px;
    font-weight: bold;
    margin-top: -4px;
}

textarea {
    background-color: var(--bg-dark);

    border-left: 1px solid #252525;
    border-top: 1px solid #252525;
    border-right: 1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;

    outline: none;
}

input {
    background-color: var(--bg-dark);
    color: var(--text-white);
    font-family: var(--font-primary); /* Apply the primary font */

    border-left: 1px solid #252525;
    border-top: 1px solid #252525;
    border-right: 1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
    
    outline: none;

    height: 25px;
    width: 100%;
}

button {
    font-family: var(--font-primary); /* Apply the primary font */
    background-color: var(--button-bg);
    color: var(--text-white);
    text-align: left;
    padding-left: 4px;
    font-size: 11px; /* Set the font size to be smaller */

    height: 24px;
    width: 65px;

    border-left: 1px solid #a8a8a8;
    border-top: 1px solid #a8a8a8;
    border-right: 1px solid #252525;
    border-bottom: 1px solid #252525;

    /* Additional black border using box-shadow */
    box-shadow: 0 0 0 1px #141414;
}
